article {
    padding: 1rem;
    background-color: white;

    img {
        object-fit: cover;
        width: 16rem;
        height: 9rem;
        padding: 0;
    }

    header {
        padding-left: 1rem;
    }
}